<% 
@accepted = Acceptance.find_all_by_project_id project.id
@viewer.set_project project
@full_view = @viewer.fullview? 
%>

<%= render :partial => "accepted_pile_table", :locals => { :project => project } %>
