<% if !@processor_list.empty? %>

<% show_form_header = (@eg.forms.find_all_by_hidden(false).size > 1) %>
<% for form in @eg.forms.find_all_by_hidden(false) %>
  <%= render :partial => 'processor_pile_for_form', :locals => { :form => form, 
        :show_form_header => show_form_header } %>
<% end %>

<% end %>
