<% profiles = StaffProfile.find_all_by_project_id project, :include => { :viewer => :persons } %>

<%= sortable_table %><thead>
  <tr>
    <%= th 'Name' %>
    <%= th 'Username' %>
    <%= th 'Motivation Code' %>
    <% if @projects %>
      <%= th 'Project' %>
    <% end %>
    <th></th>
  </tr>
</thead></tbody><tbody> 
  <%= render :partial => "staff_profile", :collection => profiles%>
</tbody>
</table>
