<% form_remote_tag(:url => { :action => 'received_paperwork', :from_tools => true}, 
                   :update => :prep_item_search,
                   :loading => "$('loading').show();",
                   :complete => "$('loading').hide();"
                   ) do %>
  <%= select_tag 'project_id', options_for_select(@eg.projects.collect { |p| [ p.title, p.id ] } + [ [ 'All projects', nil ] ])%><br/>
  with name (leave blank to display all names applicable to specific project) <%= text_field_tag 'name' %> <br/>
  <%= submit_tag 'Search' %>
<br/>

<div id='prep_item_search'>
</div>

<% end %>
