<% if @acceptance.support_coach.nil? %>
You haven't been assigned a support coach yet.
<% else %>
Your support coach is <%= @acceptance.support_coach.name %> (<%= @acceptance.support_coach.email %>).
<% end %>
