<% for column in ManualDonation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @manual_donation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @manual_donation %> |
<%= link_to 'Back', :action => 'list' %>
