<% content_for "submenu" do %>
  <% if @user.is_projects_coordinator? %>
    <%= sub_menu_item 'Event Groups', :event_groups, nil %>
    <%= sub_menu_item 'Reasons for Withdrawal', :reason_for_withdrawals, nil %>
    <%= sub_menu_item 'Projects Coordinators', :projects_coordinators, nil %>
  <% end %>
<% end %>
