<p>Note about US donations: USD donations have three states -- pending, received, and invalid.

<ul>
  <li>pending: Power to Change received record of funds form, waiting for confirmation from US</li>
  <li>confirmed: confirmation of US donation from US headquarters received</li>
  <li>invalid: US indicated that donation is invalid, it won't be included in any donation totals</li>
</ul>

If a donation is invalid, you can inquire about it using an email below.<br/></p>
