<% form_tag :action => :create do -%>

<p><strong>Create new profile</strong></p>

<%= error_messages_for :profile %>

<%= render :partial => 'viewer_form' %>

<p>Application: <span id='appln_span'></span></p>

<%= render :partial => 'form' %>

<%= submit_tag 'Create' %>

<% end -%>

