<%= select_tag 'profile[appln_id]', options_for_select([['Create new application', 'new']] + @applns.collect{ |a| [ "app[#{a.id}] profile=[#{a.profiles.collect(&:id).join(',')}] status=#{a.status}", a.id ] }) %>
