<div id="header">
  Header Here
</div>
<div class="colmask threecol">
  <div class="colmid">
    <div class="colleft">
      <div class="col1">
        Column 1 Here
      </div>
      <div class="col2">
        Column 2 Here
      </div>
      <div class="col3">
        Column 3 Here
      </div>
    </div>
  </div>
</div>
<div id="acceptance_footer">
  Footer Here
</div>

