<div id="header">
  <p><a href="http://matthewjamestaylor.com/blog/perfect-multi-column-liquid-layouts" title="Perfect multi-column liquid layouts - iPhone compatible">&laquo; Back to the CSS article</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a></p>
  <h1>The Perfect 3 Column Liquid Layout (Percentage widths)</h1>
  <h2>No CSS hacks. SEO friendly. No Images. No JavaScript. Cross-browser &amp; iPhone compatible.</h2>
</div>
<div class="colmask threecol">
  <div class="colmid">
    <div class="colleft">
      <div class="col1">
        Column 1 Here
      </div>
      <div class="col2">
        Column 2 Here
      </div>
      <div class="col3">
        Column 3 Here
      </div>
    </div>
  </div>
</div>
<div id="footer">
  Footer Here
</div>

