Now choose name from dropdown <%= select_tag 'profile[viewer_id]', options_for_select( [''] + @viewers.collect{ |v| 
   [ "#{v.name} (#{v.username})", v.id ] } ) %>
<%= observe_field 'profile_viewer_id', :url => { :action => :populate_applications },
      :update => 'appln_span', :with => 'viewer_id' %>
