[submodule "vendor/plugins/mh_common"]
	path = vendor/plugins/mh_common
	url = git://github.com/andrewroth/mh_common.git
[submodule "vendor/plugins/moonshine_multisite"]
	path = vendor/plugins/moonshine_multisite
	url = git://github.com/andrewroth/moonshine_multisite.git
[submodule "vendor/plugins/git_branch_configs"]
	path = vendor/plugins/git_branch_configs
	url = git://github.com/andrewroth/git_branch_configs.git