<div class='flash error'>
  <p>Successfully moved <%= pluralize @profiles_copies, 'profiles' %> from viewer id <%= @subject.id %> to <%= @recipient.id %>.</p>

  <p>
  <% if @transfer_gcx %>
    Gcx itie-in was also transferred over.
  <% else %>
    Gcx tie-in was not modified.
  <% end %>
  </p>
</div>
