<div class='flash error'>
  <p>Successfully moved <%= pluralize @profiles_copies, 'profiles' %> from viewer id <%= @subject.id %> to <%= @subject.id %>.</p>

  <p>
  <% if @subject.guid %>
    No gcx was set, so it wasn't transferred over.
  <% else %>
    Gcx guid was also transffered over.
  <% end %>
  </p>
</div>
