<% content_for "submenu" do %>
  <%= sub_menu_item 'list', :manage_projects, :list %>
  <%= sub_menu_item 'costing', :cost_items, :list, :project_id => 'all' %>
  <%= sub_menu_item 'travel segments', :travel_segments, :index %>
<% end %>

