<h1>Editing project</h1>

<%= form_tag :action => 'update', :id => @project %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @project %> |
<%= link_to 'Back', :action => 'list' %>
