<%= error_messages_for 'reason_for_withdrawal' %>

<!--[form:reason_for_withdrawal]-->
<p><label for="reason_for_withdrawal_blurb">Blurb</label><br/>
<%= text_field 'reason_for_withdrawal', 'blurb'  %></p>
<!--[eoform:reason_for_withdrawal]-->

