<h1>New reason_for_withdrawal</h1>

<%= error_messages_for :reason_for_withdrawal %>

<% form_for(:reason_for_withdrawal, :url => reason_for_withdrawals_path) do |f| %>
  <%= render :partial => 'form' %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', reason_for_withdrawals_path %>
