<% for column in TravelSegment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @travel_segment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @travel_segment %> |
<%= link_to 'Back', :action => 'list' %>
