<p>
  <b>Note for:</b>
  <%= (Profile.find(profile_note.profile_id)).viewer.name %>
</p>

<p>
  <b>Content:</b>
  <%=h profile_note.content %>
</p>

<p>
  <b>Creator:</b>
  <%= (Viewer.find(profile_note.creator_id)).name %>
</p>

  