<p>
  <b>Note:</b>
  <%=h profile_note.content %>
</p>

<p>
  <b>Created by:</b>
  <%= h profile_note.creator.name %>
</p>

<% if profile_note.creator == @viewer || @is_eventgroup_coordinator%>
  <%= link_to_remote 'delete', :url => "/profile_notes/#{profile_note.id}.js",
      :method => :delete,
      :loading => "$('loading').show();",
      :loaded => "$('loading').hide();",
      :confirm => 'Are you sure?'
   %>
<% end %>
