<h1>Editing prep_item</h1>

<% form_for(@prep_item) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @prep_item %> |
<%= link_to 'Back', prep_items_path %>
