<div style="error">
    <%= flash[:error] %>
    <div style="text-align: center;">
        <input type="button" id="OK" value="OK" 
            onClick="document.getElementById('<%=@role%>_msg').hide();"/>
    </div>
</div>