<div id="account_links">
  <% if @content_for_account_links %>
    <%= yield :account_links %>
  <% else %>
    <%= link_to "Create an Account", "/security/signup" %>
    | <%= link_to "Change Password", "https://signin.mygcx.org/sso/selfservice/protected/password/changePassword.jsp" %>
    | <%= link_to "Reset Password", "https://signin.mygcx.org/sso/selfservice/resetPassword.jsp" %>
  <% end %>
</div>

