<% content_for :account_links do %>
  <A HREF='/security/link_gcx_new'>I don't have an intranet login</A> | 
<%= link_to "Forgot Password",  "https://intranet.campusforchrist.org/modules/app_cim_newaccount/" +
   "index.php?P=P35" %>
<% end %>

<% @login_action = 'do_link_gcx' -%>
<% @login_title = 'Old Login' -%>
<%= render :partial => 'login' %>

