<div class='centerblock'>
<P>
We are now using TheKey (formerly GCX) to authenticate users.  TheKey is developed by the American Campus Crusade for Christ tech team, and is used by Campus Crusade ministries around the world.  Using TheKey means more people can use the project tool, and you only need to remember their Key login rather than separate credentials for each site.
</P>

<BR />

<P>
To signup,

<OL>
  <LI>Watch a <A HREF="http://www.screencast.com/users/ccci/folders/Identity%202.0/media/957dc9a5-f1d2-4ca8-9f8a-806d36286f1b" TARGET='blank'>quick video</A> which will show you how to create a Key account.</LI>
  <LI>Click <A HREF="https://thekey.me/cas/service/selfservice?target=signup&" TARGET='blank'>here</A> to create an account (will open in a new window).</LI>
  <LI><STRONG>Wait 2-3 minutes.  This an issue with TheKey where it takes their system a few minutes to synchronize some data under the covers.</STRONG></LI>
  <LI>Return to <A HREF="https://pat.powertochange.org">https://pat.powertochange.org</A> to login with your newly created account.</LI>
<UL>

</P>

</div>

