<div class='centerblock'>
<P>
We are now using <A HREF="http://www.mygcx.org">Global ConneXion</A> (GCX) to authenticate users.  GCX is developed by the American Campus Crusade for Christ tech team, and is used by Campus Crusade ministries around the world.  <A HREF="http://technology.ccci.org/gcx/index.html">Read more about GCX here</A>.  Using GCX means more people can use the project tool, and you only need to remember their GCX login rather than separate credentials for each site.
</P>

<BR />

<P>
To signup,

<OL>
  <LI>Watch a <A HREF="http://www.screencast.com/users/ccci/folders/GCX%20Screencasts/media/d54b42e4-0cf2-43a7-b3d2-0919871a5602">quick video</A> which will show you how to create a GCX account.</LI>
  <LI>Go to <A HREF="http://www.mygcx.org" TARGET='blank'>http://www.mygcx.org</A> (will open in a new window) to create an account.</LI>
  <LI><STRONG>Wait 2-3 minutes.  This is a GCX issue where it takes their system a few minutes to synchronize some data under the covers.</STRONG></LI>
  <LI>Return to <A HREF="https://spt.campusforchrist.org">https://spt.campusforchrist.org</A> to login with your newly created GCX account.</LI>
<UL>

</P>

</div>

