<% form_remote_tag :url => {:action => 'create'}, 
:loading => "Element.show('loading')", :complete => "Element.hide('loading')" do -%>
  <fieldset>
    <legend>New Form</legend>
    Name: <%= text_field_tag :name %>
    Hidden to applicants: <%= check_box_tag :hidden %> 
    <%= submit_tag 'Create' %>
  </fieldset>
<% end -%>
