<table>
  <% for prep_item in @prep_items %>
    <tr>
      <td>
        <%= check_box_tag "prep_item[#{prep_item.id}]" %>
        <%= label_tag "prep_item[#{prep_item.id}]", prep_item.title %>
        <br />
      </tr>
    </tr>
  <% end %>
</table>
