<h1>New projects_coordinator</h1>

<% remote_form_for(@projects_coordinator, :url => { :action => :search }, :update => :results) do |f| %>
  <%= f.error_messages %>

  <p>
    Search by name:
    <%= text_field_tag 'name' %>
  </p>
  <p>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= link_to 'Back', projects_coordinators_path %>

<div id='results'>
</div>
