<!-- questionnaires javascript -->
<%= javascript_include_tag "builder" %>
<%= render :partial => 'externs/controls' %>
<%= javascript_include_tag "plugin_assets/questionnaire_engine/javascripts/extensions.js" %>

<script type="text/javascript" src="/javascripts/questionnaire2.js?c=<%=params[:controller]%>"></script>

<%= javascript_include_tag "plugin_assets/questionnaire_engine/javascripts/calendar.js","lang/calendar-en.js", "calendar-setup.js" %>
<%= stylesheet_link_tag "plugin_assets/questionnaire_engine/stylesheets/calendar/calendar-win2k-1.css" %>
