<% content_for "submenu" do %>
  <%= sub_menu_item 'Standard Reports', :reports, :index %>
  <%= sub_menu_item 'Custom Reports', :custom_reports, :index %>
  <%= sub_menu_item 'Mass Emails', :mass_emails, :index %>
<% end %>

