<TR>
<% if @columns.nil? %>
    <I>no column specified</I>
<% else %>
    <% @columns.each_pair do |name,type| %>
        <% default = (@default_sort == name) ? ", mochi:default='true'" : "" %>
        <%= th prefix.to_s + name.to_s, type, @default_sort == name %>
    <% end %>
<% end %>
</TR>