<tr class='inconspicuous'>
  <%= render :partial => 'travel_segments/view_in_row', 
    :object => ts_filter_item
  %>
  <td class='inconspicuous'>
    <% tag_name = "custom_itinerary_ts[" + ts_filter_item.id.to_s + "]" %>
    <%= check_box_tag tag_name,
      1, 
      false, 
      :class => 'check', 
      :id => tag_name
    %>
  </td>
</tr>
