<%= @title %>
<%= render :partial => 'fix_include_profiles' -%>
<%  i = 0 -%>
<%  @travel_segments_hash.each_pair do |ts,p| -%>
<%=   ts.long_desc_csv %>
<%=   render :partial => 'itinerary_profiles_csv', :object => p -%>
<%  end -%>
