<ul id = "list_ul">
<% for profile_prep_item in @profile_prep_items %>
  <li id = "<%= "list_#{profile_prep_item.id}" %>">
    <%= render :partial => 'profile_prep_item', :object => profile_prep_item %>
  </li>
<% end %>
</ul>
