<div id="list_prep_items">
  <p class='unsubmitted_item'><i><b>Forms that still need to be submitted are in this colour</b></i></p>
  <p class=""><i>Forms that you have submitted but have not yet been received are in this colour</i></p>
  <p class='project_item'><i>Items that have been submitted and received are in this colour</i></p>
  <div id='list' class='inconspicuous'>
    <%= render(:partial => "list") %>
  </div>
  
</div>