<h1>New prep_item</h1>

<% form_for(@profile_prep_item) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', profile_prep_items_path %>
