<% @references ||= @instance.reference_instances -%>

<html>
<head>
  <%= stylesheet_link_tag 'main2', :media => 'all' %>
</head>

<body>
  <h2><%= @form_title %></h2>
  <% @pages.sort.uniq.each_with_index do | this_page, i | %>
    <% next if this_page.hidden? %>
    
    <span class='readonly_page_header'><%= this_page.title %></span>
    <%= render :partial => 'readonly/page', :object => this_page %>
  <% end %>
</body>

</html>
